@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&family=Orbitron:wght@400..900&display=swap');

.pantalla {
    display: flex;
    width: 100%;
    height: 100%;  
    background-color: #282c34;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo {
    text-align: center;
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    font-size: 1rem;
}

h1 {
    margin: 0px 0px 15px 0px;
}

.juego {
    width:95%;
    height: 85%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-image: url(../assets/fondo.jpg);
    background-size: cover;
    background-position: center;
}

.jugador1, .jugador2{
    margin-top: 0.5%;
    width: 40%;
    height: 90%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.fila {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ataque {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.botones {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.jugador1 h3, .jugador2 h3 {
    font-size: 0.8rem;
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
}

.jugador2 input[type="range"] {
    appearance: none; 
    height: 8px;
    border-radius: 5px;
    outline: none;
    background:linear-gradient(to right, rgb(0, 255, 157),  rgb(195, 0, 255));
}

.jugador1 input[type="range"] {
    appearance: none; 
    height: 8px;
    border-radius: 5px;
    outline: none;
    background:linear-gradient(to right, #ff7c24,  rgb(195, 0, 255));
}

.jugador1 label, .jugador2 label {
    margin: 0%;
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    display: block;
    font-size: 1.5rem;
}

img {
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: 'Exo 2', sans-serif;
    font-size: 0.8rem;
}

.btnjugador1{
    background-color: #ff7c24;
}

.btnjugador2{
    background-color: #21e489;
}

.btnjugador1:hover, .btnjugador2:hover {
    opacity: 0.9;
    transition: opacity 0.3s ease;
}

